* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_section{
    background-image: url(../assets/Construction-Internships.jpg);

}

/* featured projects  */

/* #project-wrapper {
  top: 50%;
  position: relative;
} */

/*  */
.project h2 {
    text-align: center;
    font-size: 30px;
}

div#project-buttons {
    /* background-color:  bisque; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;

}

div#project-buttons .btn {
 width: 200px;
 background-color: grey;
 padding: 10px;
 outline: none;
 margin: 10px;
}

div#project-buttons .active, .btn:hover {
  background: crimson;
}

/* Grid Wrapper Start */

.wrapper {
    display: flex;
    justify-content: center;
}


#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    /* border: 1px solid black; */
  }
  #grid > div.grid-content {
    color: white;
    padding: 10px;
    text-align: center;
  }

#grid > div.grid-content img {
    width: 380px;
    height: 380px;
    transition: 2s;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

  @media only screen and (max-width: 1524px) {
    #grid {
      grid-template-columns: repeat(3, 1fr);
    }

    #grid > div.grid-content img {
        width: 300px;
        height: 300px;
    }
  }

  @media only screen and (max-width: 1400px) {

    #grid {
      grid-template-columns: repeat(2, 1fr);
    }

    #grid > div.grid-content img {
        width: 300px;
        height: 300px;
    }
  }

  @media only screen and (max-width: 700px) {
    #grid {
      grid-template-columns: repeat(2, 1fr);
    }

    #grid > div.grid-content img {
        width: 230px;
        height: 270px;
    }
  }  


  @media only screen and (max-width: 530px) {

    div#project-buttons .btn {
      width: 100px;
      padding: 5px;
      outline: none;
      margin: 5px;
    }

    #grid {
      grid-template-columns: repeat(1, 1fr);
    }

    #grid > div.grid-content img {
        width: 300px;
        height: 320px;
    
    }
  }   


  div.grid-content {
      position: relative;
      text-align: center;
      color: white;
     overflow: hidden;

  }

  div.grid-content p {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
  }  
 

  #grid > div.grid-content:hover img {
    /* transform: scale(2) rotate(10deg); */
    filter: blur(2px);
}  

div.grid-content:hover p {
    opacity: 1;
}

/* Grid Wrapper Emd */

/* About Styles by Shudi */

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 6px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.about-section {
  padding: 10px;
  text-align: center;
  color: #000000;
}

.container {
  padding: 0 17px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  
  .grid-row {
    width: 100%;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
  }
  }
}
#readmore{
	text-align: center;
	padding: 80px;
	margin: 4px;
	display: block;
	font-size: 24px;
	position: static;
	width: 200px;
	height: 20px;
	font-family: Mulish;
	font-style: normal;
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a {
  color: #000000;
}

/* End About styles */


/* Contact Section Styles */
.w-80 {
  width: 75%;
  margin: 5px auto; 
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-col {
  text-align: center;
}

address {
  margin-bottom: 0 !important;
  font-style: italic;
}

.grid-col img {
  text-align: center;
  width: 30px;
  padding-top: 10px;
  float: left;
}

.grid-col address, .grid-col figcaption {
  float: left;
}

.grid-col address small, .grid-col figcaption small {
  font-size: 13px;
  color: rgba(58, 58, 58, 0.7);
  padding-left: 10px; 
  float: left;
}

.grid-col address b, .grid-col figcaption b {
  padding-left: 10px; 
  float: left;
}

#mapdiv {
  width: 100%;
  height: 500px;
}
