body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}



.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 6px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.about-section {
  padding: `10px;
  text-align: center;
  color: #000000;
}

.container {
  padding: 0 17px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
#readmore{
	text-align: center;
	padding: 80px;
	margin: 4px;
	display: block;
	font-size: 24px;
	position: static;
	width: 200px;
	height: 20px;
	font-family: Mulish;
	font-style: normal;
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a {
  color: #000000;
}